############################### PRODUCTION
# PUBLIC
PUBLIC_BASEPATH=
PUBLIC_APPSERVER=

PUBLIC_DEVMODE=0


############################### PRODUCTION
# PRIVATE
ENV_SECRET=

ENV_ROLE_ADMIN=
ENV_ROLE_READER=

ENV_DATASERVER=


